.nav-tabs {
  border-bottom: 0 !important;
}

.dashboard-tabs {
  margin-top: 2rem;

  & a {
    color: #000;

    &:hover {
      color: white;
      background-color: #80bbae;
    }
  }

  & .active {
    color: white !important;
    background-color: #4f8f81 !important;
  }
}

.shop-dashboard-card {
  margin-top: 0;
  margin-bottom: 6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  & #add-product-btn {
    float: right;
  }
}
