#register-container {
  min-height: 85vh;
}

.registration-form {
  margin-top: 3rem;
  margin-bottom: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  & h1 {
    margin-bottom: 2rem;
  }

  & button {
    float: right;
  }

  @media (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
