* {
  box-sizing: border-box;
}

/* #root {
  background-color: lightgray;
} */

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #fafafa !important;
}

.App {
  text-align: center;
  min-height: 100vh;
  top: 0;
}
